@font-face {
    font-family: vazir;
    src: url(../font/Vazir.ttf) format("truetype");
    src: url(../font/Vazir.woff) format("woff");
    src: url(../font/Vazir.eot) format("eot");
    src: url(../font/Vazir.woff2) format("woff2");
}
