@import url(font.css);
*{
    font-family: vazir;
}

body{
    background-color: #ffffff;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,153,204,.5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 1px;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    font-weight: bold;
    display: block;
    height: 50px; 
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    width: 380px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #5f5f5f;
}
button{
    margin-top: -10px;
    width: 390px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    color: #ffffff;
    background-color: #66ee88;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social .fb{
  margin-left: 25px;
  margin-right: 25px;
}
i{
    margin-right: 123px;
}
.social i{
  margin-right: 4px;
}
.go{
    text-align: center;
    margin-top: 5px;
}
.fb{
    margin-top: 5px;
}
a{
    text-decoration: none;
    margin-top: 6px;
}
a:hover{
    color: blueviolet;
}
.goo i{
border-radius: 20px;
font-size: 30px;
text-align: center;
width:  50px;
height:  50px;
color: #000000;
background: linear-gradient(45deg, #405de6, #ffee00, #ffffff, #00ff0d, #fd1d1d);
}

.social-container {
	margin: 20px 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.social-container a {
	border: 1px solid #d5d2d2;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
  .social-container i{
    margin-right: 0px;
  }

  .social-f :hover{
    border: 1px solid #DDDDDD;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 0px;
	height: 40px;
	width: 40px;
    background-color:rgb(59, 89, 152) ;
    color: #ffffff;
  }

.social-g :hover{
    border: 1px solid #DDDDDD;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 0px;
	height: 40px;
	width: 40px;
    background-color: #ea4335;
    color: #ffffff;
}
.socialmedia p{
    margin-top: 10px;
    color:rgb(234, 10, 238);
}